{% extends 'layout.html' %}
{% block nav %}

{% parent %}
{% endblock nav %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
		<h1>P A N E L</h1>
		<br/><br/>
		<a href="{{ routes.load }}" class="btn btn-warning btn-lg">{{ __("Carga masiva de Profesores") }}</a><br/><br/>
		<a href="{{ routes.load2 }}" class="btn btn-warning btn-lg">{{ __("Carga masiva de Cursos") }}</a><br/><br/>
		<!--<a href="{{ routes.profesores }}" class="btn btn-primary btn-lg">Panel de Profesores y Cursos</a>-->
		<a href="{{ routes.panelMain }}" class="btn btn-primary btn-lg">{{ __("Configuracion de datos") }}</a><br/><br/>
		
		</div>
	</div>
</div>
{% endblock %}         
      