{% extends './layout.html' %}
{% block nav %}

{% parent %}
{% endblock nav %}

{% block content %}
<div class="container">
	<div class="row">
	  <div class="col-md-6">
	  	<div class="input-group">
		  <span class="input-group-addon">@</span>
		  <input type="text" class="form-control" placeholder="Username">	  
		</div>
		<label></label>
	  </div>
	  <div class="col-md-6">
	  </div>
	</div>
	<div class="row">
	  	<div class="col-md-6">
	  	  <div class="panel panel-default">
		    <div class="panel-body" id="p1">
		      <ul id="resul"> </ul>
		    </div>
		  </div>
	  	</div>
	  	<div class="col-md-6">
	  	  <div class="panel panel-default">
		    <div class="panel-body">
		      Basic panel example 2
		    </div>
		  </div>
	  	</div>
	</div>
</div>

{% raw %}
<script id="r_dato" type="text/template">
<li>
{{post.apellido}}
</li>
</script>
 {% endraw %}

{% endblock %}   