{% extends './layout.html' %}
{% block nav %}

{% parent %}
{% endblock nav %}

{% block content %}
<div class="container">
	<div class="row">
	  <div class="col-md-6">
	  	<div class="input-group">
		  <span class="input-group-addon">@</span>
		  <input id="lupa" type="text" class="form-control" placeholder="Username">	  
		</div>
		<label></label>
	  </div>
	  <div class="col-md-3">
	  	<a class="btn btn-default" href="#">{{ __("Crear Profesor") }}</a>
	   </div>
	   <div class="col-md-3">	
	  	<a class="btn btn-default" href="#">{{ __("Crear Curso") }}</a>
	 	</div>
	 </div>	
	<div class="row">
		<div class="col-md-6">
			<div class="radio">
			  <label>
			    <input type="radio" name="oR" id="r1" value="o1" checked>
			    {{ __("Por profesores") }}
			  </label>
			</div>
			<div class="radio">
			  <label>
			    <input type="radio" name="oR" id="r2" value="o2">
			    {{ __("Por Curso") }}
			  </label>
			</div>
		</div>
		<div class="col-md-6"> </div>
	</div> 	
	
	<div class="row">
	  	<div class="col-md-6">
	  	  <div class="panel panel-default">
		    <div class="panel-body" id="p1">
		      <table id="resul"> </table> <!-- template r_dato -->
		    </div>
		  </div>
	  	</div>
	  	<div class="col-md-6">
	  	  <div class="panel panel-default" > <!-- template r_detalle -->
		    <div class="panel-body" id="resul_d">
		    </div>
		  </div>
	  	</div>
	</div>
</div>

{% raw %}
<script id="r_dato" type="text/template">
<td class="detalle">{{post.apellido}}</td>
<td><a href="#" class="editable">Editar </a></td> 
<td><a href="#"> Eliminar</a></td>
</script>

<script id="r_dato_c" type="text/template">
<td class="detalle">{{post.nombre}}</td>
<td><a href="#" class="editable">Editar </a></td> 
<td><a href="#"> Eliminar</a></td>
</script>

<script id="r_detalle" type="text/template">
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail1" class="col-lg-3 control-label">Nombre</label>
    <div class="col-lg-9">
      <input disabled="disabled" type="text" class="form-control" id="nom" value="{{post.nombre}}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword1" class="col-lg-3 control-label">Apellido</label>
    <div class="col-lg-9">
      <input disabled="disabled" type="text" class="form-control " id="ape" value="{{post.apellido}}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword1" class="col-lg-3 control-label">Facultades</label>
    <div class="col-lg-9">
      <input disabled="disabled" type="text" class="form-control" id="fac" value="{{post.faculta}}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword1" class="col-lg-3 control-label">Cursos</label>
    <div class="col-lg-9">
      <input disabled="disabled" type="text" class="form-control" id="cur" value="{{post.cursos}}">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-12">
      <button type="submit" class="btn btn-success no-ver" id="update"> Actualizar </button>
    </div>
  </div>
</form> 
 <div class="col-md-12">
	  	<a class="btn btn-info" href="crear-horario/{{post._id}}">Horario</a>
	   </div>
</script>
 {% endraw %}

{% endblock %}   